body {
    font-family: Verdana, serif;
}

header {
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px inset #5B313F;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: #5B313F;
}

div.content {
    margin: auto;
}

.content {
    width: 900px;
}

fieldset.new-user {
    width: 400px;
}